<div class="action-marker" style="--position-x: {{position.x}}px; --position-y: {{position.y}}px;">
    <span class="action-glyph">
        {{~cost~}}
        {{~#if overage}}<span class="overage">!</span>{{/if~}}
    </span>
</div>
