<section class="sheet-body content sheet-content-loot inventory">
    {{#if (or document.isOwner isLoot)}}
        {{> (resolvePath "templates/actors/partials/coinage.hbs") owner=owner}}
    {{/if}}
    {{> (resolvePath "templates/actors/partials/inventory-header.hbs")}}
    {{> (resolvePath "templates/actors/partials/inventory.hbs")}}
    {{#if (or document.isOwner isLoot)}}
        {{> (resolvePath "templates/actors/partials/total-bulk.hbs")}}
    {{/if}}
</section>
