// TODO: copy the rest of the "crb" style to here and vehicle
.actor.sheet.character section.window-content .crb-style {
    --font-primary: var(--body-serif);
    --logo: url("/assets/pathfinder_logo.webp");

    @import "proficiency-ranks";
    @import "sidebar";
    @import "header";

    display: grid;
    grid:
        "sidebar header" 4.625rem
        "sidebar nav" minmax(min-content, max-content)
        "sidebar content" 1fr
        / 14.375rem 1fr;

    font-family: var(--body-serif);

    background: url("/assets/sheet/header.webp"), url("/assets/sheet/background.webp");
    background-repeat: repeat-x, no-repeat;
    background-size:
        auto 5.625rem,
        cover;
    background-attachment: local;
    height: 100%;

    button.inline-control {
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        display: flex;
        height: var(--button-size);
        line-height: normal;
        margin: unset;
        text-decoration: none;
        transition: none;
        width: auto;

        &:hover {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }

        &:disabled {
            --button-text-color: var(--color-text-subtle);
            text-shadow: none;
        }
    }

    nav.sheet-navigation {
        .item {
            &.to-hide {
                opacity: 45%;
            }
            &.hidden {
                display: none;
            }

            .pfs-icon {
                clip-rule: evenodd;
                fill-rule: evenodd;
                padding: var(--space-4);
                position: relative;
                stroke-linejoin: round;
                stroke-miterlimit: 2;
                top: calc(-1 * var(--space-1));

                path {
                    fill-rule: nonzero;
                }
            }
        }

        .manage-tabs {
            color: var(--text-light);
            margin: 0;
            padding: 0 var(--space-6);
        }
    }

    .sheet-body .sheet-content {
        & > .tab.active {
            display: flex;
            height: 100%;

            @import "option-toggles";
        }

        & > .tab:not(.inventory, .actions),
        .tab-content {
            flex-grow: 1;
            min-height: 0;
            overflow: hidden auto;
            scrollbar-gutter: stable;
        }

        nav + .tab-content {
            padding-top: var(--space-12);
        }

        .name a:hover {
            text-shadow: none;
        }

        // general item-image properties
        .item-image {
            &.framed {
                @include frame-icon;
                background-color: var(--tertiary);
            }

            i {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                color: var(--text-dark);
            }

            &:hover {
                i {
                    background: #f1eee9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        > .tab.active {
            display: flex;
            flex-direction: column;

            @import "character", "actions", "effects", "spellcasting", "proficiencies", "feats", "biography",
                "inventory", "pfs", "crafting";
        }

        .directory-list {
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}
