.sheet.familiar {
    @import "../red-action-boxes";

    form {
        background: url("/assets/sheet/background.webp") repeat-x local top/cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--space-4) var(--space-6) 0;

        & > hr {
            width: 100%;
        }
    }

    input {
        border: none;
        border-radius: 0;
        background-color: rgba(#1c1c1c, 0.1);

        &:focus {
            box-shadow: none;
        }
    }

    select {
        border: 1px solid transparent;
        background: rgba(0, 0, 0, 0.05);
        font-family: var(--body-serif);
        font-size: var(--font-size-14);
        font-weight: normal;

        &:hover {
            border: 1px solid black;
        }
    }

    header {
        display: flex;
        flex-direction: row;

        .image-container {
            display: flex;
            img.actor-image {
                border-radius: 0;
                flex: 0;
                height: 100%;
                min-width: 125px;
                width: 125px;
            }
            [data-action="show-image"] {
                bottom: 2px;
                right: 2px;
            }
        }

        .header-content {
            display: flex;
            flex-direction: column;
            border-radius: 0;
            flex-grow: 1;
            margin-left: var(--space-10);

            .charname {
                align-items: baseline;
                display: flex;
                flex-flow: row nowrap;
                font: 700 var(--font-size-28) var(--sans-serif-condensed);
                gap: var(--space-4);
                width: 100%;

                input {
                    border-bottom: 1px solid #d3ccbc;
                    color: #323232;
                    font-variant: small-caps;
                    font-weight: bold;
                    height: initial;
                    padding: 0 var(--space-4);

                    &::placeholder {
                        filter: opacity(0.5);
                        color: #1c1c1c;
                    }

                    &:focus {
                        border-bottom: 1px solid #644f33;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }

                span {
                    flex: 0 1;
                    text-align: right;
                    margin-right: 0.1em;
                    text-transform: uppercase;
                }
            }

            .sub-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin-bottom: var(--space-8);

                ul.tags {
                    margin-top: var(--space-4);
                }
            }

            .tags.paizo-style {
                padding: 0.25em 0;
            }

            .details-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .hp-section {
                    display: grid;
                    flex-direction: column;
                    height: max-content;
                    width: 150px;
                    grid-template-columns: min-content 1fr;
                    font-size: var(--font-size-14);

                    div {
                        white-space: nowrap;
                    }

                    .label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        white-space: nowrap;

                        h4 {
                            font-weight: bold;
                            margin: 0 0.25em 0 0;
                            padding-left: 6px;
                        }
                    }

                    .value {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 4px;

                        input {
                            width: 2em;
                            text-align: right;
                            padding-right: 3px;
                            border: 1px solid transparent;
                            background: none;
                            height: auto;

                            &:hover,
                            &:focus {
                                border: 1px solid black;
                                box-shadow: 0 0 10px #00005a;
                            }
                        }

                        .total-hp {
                            flex-grow: 1;
                        }
                    }

                    .temp-hp {
                        display: flex;
                        margin-left: 8px;
                        align-items: baseline;
                        input {
                            text-align: left;
                        }
                    }
                }

                .defenses-section {
                    display: flex;
                    flex-direction: column;

                    .defenses-list {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 12px;

                        .save,
                        .ac {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            column-gap: 0.5em;

                            .name {
                                font-weight: bold;
                                text-transform: capitalize;
                            }

                            .value {
                                font-style: normal;

                                i {
                                    margin-right: var(--space-2);
                                }
                            }
                        }

                        .ac {
                            border-right: 1px solid rgba(0, 0, 0, 0.15);
                            padding-right: var(--space-12);
                        }
                    }
                }
            }

            .dying-section {
                display: flex;
                gap: var(--space-10);
                justify-content: end;

                .name {
                    font-weight: bold;
                }

                .pips {
                    display: flex;
                    gap: var(--space-1);
                }
            }
        }
    }

    .main-section {
        display: flex;
        flex: 1;
        flex-direction: row;
        overflow: hidden;

        .main-container {
            overflow: hidden auto;
            flex-grow: 2;
            scrollbar-gutter: stable;
        }
    }

    .section-container {
        margin: 6px 6px;

        .section-body {
            align-items: stretch;
            flex-direction: column;
            padding: 4px;

            input {
                font-family: var(--body-serif);
                font-weight: bold;
                width: calc(100% - 6px);
                border-bottom: 1px solid #d3ccbc;
                text-transform: capitalize;
                &::placeholder {
                    filter: opacity(0.5);
                    color: #1c1c1c;
                }
                &:focus {
                    border-bottom: 1px solid #644f33;
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }

    .section-container.toggles ul.option-toggles {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        list-style: none;

        > li {
            width: 100%;

            label {
                display: flex;
                align-items: center;
                gap: var(--space-4);

                input {
                    margin: 0;
                    padding: 0;
                }
            }

            select {
                background: none;
                margin-left: 0.25em;
                text-transform: none;
            }
        }
    }

    .familiar-section {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;

        .detail {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 3px;

            label {
                font-size: var(--font-size-10);
                font-weight: 800;
                line-height: 1;
                text-transform: uppercase;
                font-family: var(--sans-serif);
                color: var(--primary);
                white-space: nowrap;
                margin-bottom: 3px;
            }

            h4 {
                font-size: var(--font-size-14);
                font-family: var(--serif);
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.05);
                padding-left: 2px;
                margin: none;
            }
        }

        .familiar-content {
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
            column-gap: 15px;

            input {
                border: none;
                border-radius: 0;
                &[type="text"] {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                &:focus {
                    box-shadow: none;
                }
            }

            h3 {
                background-color: rgba(0, 0, 0, 0.05);
                height: 26px;
                font-family: var(--body-serif);
                font-size: var(--font-size-14);
                padding: 8px 4px 6px;
                line-height: 1;
            }

            .familiar-species {
                flex-basis: 50%;
            }

            .familiar-size {
                flex-basis: 50%;
            }

            .familiar-modifier {
                flex-basis: 50%;

                select {
                    font-weight: bold;
                }
            }

            .familiar-senses {
                flex-basis: 50%;
                height: min-content;

                .tags {
                    margin: 0;
                    padding: 0;

                    ol {
                        margin: 0;
                    }
                }
            }

            .familiar-speed {
                flex-basis: 30%;
            }
        }
    }

    .skills-sidebar {
        flex: 0 0 172px;
        max-height: fit-content;

        &.placeholder {
            visibility: hidden;
        }

        .section-body {
            flex-wrap: nowrap;
            gap: var(--space-4);
            overflow: hidden auto;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid #999;
                border-radius: 3px;
                height: var(--font-size-20);
                font-size: var(--font-size-14);
                font-family: var(--serif);
                width: 100%;

                &:hover {
                    padding: none;
                    border: 1px solid #323232;
                }

                &.perception {
                    margin-bottom: var(--space-6);
                }

                &.attack-roll {
                    border-color: transparent;
                    font-family: var(--sans-serif);
                    gap: var(--space-4);
                    justify-content: center;
                    margin-top: var(--space-6);

                    &:hover {
                        border-bottom: 1px solid #323232;
                    }
                }

                .mod {
                    flex: 1;
                    text-align: center;
                    color: var(--color-pf-primary);
                    font-weight: bold;
                }

                .name {
                    flex: 4;
                }
            }
        }
    }

    .actions-list .action {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .effects-list {
        @include p-reset;
        @include effects-list;

        .item {
            @include p-reset;
            margin: 0.25em 0;
        }
    }
}
