{{#each compatible as |ammo|}}
    <div class="ammo-selection">
        <img src="{{ammo.img}}">
        <span class="name">{{ammo.name}}</span>
        <span class="quantity">{{ammo.quantity}}</span>
        {{#if (or (eq behavior "magazine") (eq remaining 1))}}
            <button>Reload</button>
        {{else if}}
            <button>Reload</button>
            <button>Reload All</button>
        {{/if}}
    </div>
{{/each}}
