#measurement {
    --counter-scale: 1;
    .waypoint-label {
        &:has(+ .waypoint-label.last) .action-glyph {
            display: none;
        }
        .action-glyph {
            color: var(--color-text-primary);
            font-size: 1.5em;
        }
    }

    .action-marker {
        --transformX: 0;
        --transformY: 0;
        color: var(--color-dark-1);
        font-size: var(--font-size-24);
        height: var(--grid-size);
        left: var(--position-x);
        position: absolute;
        text-shadow:
            0 0 2px var(--color-light-1),
            -1px -1px 1px var(--color-light-1),
            1px -1px 1px var(--color-light-1),
            -1px 1px 1px var(--color-light-1),
            1px 1px 1px var(--color-light-1);
        top: var(--position-y);
        width: var(--grid-size);
    }

    .waypoint-label,
    .action-marker {
        transform: scale(calc(var(--ui-scale) / var(--counter-scale))) translate(var(--transformX), var(--transformY));
        .overage {
            color: red;
            font-weight: bold;
        }
    }
}

#token-hover-distance {
    --transformY: calc(-62px * var(--ui-scale));
}
