<div>{{localize "PF2E.SETTINGS.WorldClock.ResetWorldTime.Confirm.Question"}}</div>
<ul>
    <li>{{localize "PF2E.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning1"}}</li>
    <li>{{localize "PF2E.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning2"}}</li>
</ul>
