<div class="tab inventory item-container" data-group="primary" data-tab="inventory">
    {{> (resolvePath "templates/actors/partials/coinage.hbs")}}
    {{> (resolvePath "templates/actors/partials/inventory-header.hbs")}}
    {{> (resolvePath "templates/actors/partials/inventory.hbs")}}
    {{> (resolvePath "templates/actors/partials/encumbrance.hbs")}}
</div>
